@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to the AWC Platoon Optimizer. This tool is meant to help you and your guild to better manage platoon deployments in Territory Battles for the game Star Wars Galaxy of Heroes.

    This is currently a work in progress and only open for select guilds.
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
{
    @Html.ActionLink("Guilds", "Index", "Guilds", new { }, new { @class = "btn btn-default" })<span/>
    @Html.ActionLink("Characters", "Index", "Characters", new { }, new { @class = "btn btn-default" })
}