@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to the AWC Platoon Optimizer. This tool is meant to help you and your guild to better manage platoon deployments in Territory Battles for the game Star Wars Galaxy of Heroes.
    <br/><br />
    In order for this site to best serve your guild, all guild members must have a synced <a href="http://www.swgoh.gg">swgoh.gg</a> account. 
    <br /><br />
    Once you have registered, you will have the ability to sync your guilds roster. This allows you to view your guilds members, their characters, and a report detailing how many of each character your guild has at each star level.
    <br /><br />
    The Territory Battle management lets you fill in the platoon requirements for each territory in a phase. Once platoon requirements are filled in, you can view a report that shows you the total counts for the required characters, and how many your guild has, along with the guild members that posess the characters starting at the lowest star count.
    <br /><br />
    As you determine what platoons you can and cannot fill, you can close platoons and re-run the report to see the updated requirements and assignments for open platoons.
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
{
    @Html.ActionLink("Guilds", "Index", "Guilds", new { }, new { @class = "btn btn-default" })<span/>
    @Html.ActionLink("Characters", "Index", "Characters", new { }, new { @class = "btn btn-default" })
}