@model IEnumerable<SWGOH.Web.ViewModels.CharCount>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="grid"></div>
        <script>
            var rowTemplateString = '<tr class="#: SevenStarCount > 10 ? "dsrow" : "" #" ' +
                '<td>#: Name #</td>'
                '</tr>';

            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CharCountData", "MemberCharacters"))",
                                type: "POST",
                                dataType: "json",
                            }
                        },
                        schema: {
                            type: "json",
                            data: "Data",
                            total: "Total"
                        },
                        pageSize: 15,
                    },
                    width: 850,
                    filterable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    scrollable: true,
                    selectable: true,
                    columns: [
                    {
                        field: "Name",
                        title: "Name",
                        width: 150
                    },
                    {
                        field: "Alignment",
                        title: "Alignment",
                        width: 100
                    },
                    {
                        field: "OneStarCount",
                        title: "1 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "TwoStarCount",
                        title: "2 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "ThreeStarCount",
                        title: "3 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "FourStarCount",
                        title: "4 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "FiveStarCount",
                        title: "5 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "SixStarCount",
                        title: "6 Star",
                        width: 50,
                        filterable: false,
                    },
                    {
                        field: "SevenStarCount",
                        title: "7 Star",
                        width: 50,
                        filterable: false,
                    },
                    ],
                    dataBound: function (e) {

                        // iterate the data items and apply row styles where necessary
                        var dataItems = e.sender.dataSource.view();
                        for (var j = 0; j < dataItems.length; j++) {
                            var sevenStarCount = dataItems[j].get("SevenStarCount");

                            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
                            if (sevenStarCount < 10) {
                                if (j%2 !== 0) {
                                    row.addClass("dsRowAlt");
                                }
                                else {
                                    row.addClass("dsRow");
                                }
                            }
                        }
                    }
                });
            });
        </script>
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                document.getElementById('membersCharactersNav').classList.add('active');
            });
</script>