@model SWGOH.Entities.Member

@{
    ViewBag.Title = "Details";
}

<div>
    <h2><a href="@Model.UrlExt">@Model.DisplayName</a></h2>
    @*<p>
        @Html.ActionLink("My Guild", "Details", "Guilds")
    </p>*@

    <div>
        @Html.Action("Index", "MemberCharacters", new { id = Model.Id })
    </div>
</div>
