@model IEnumerable<SWGOH.Entities.Member>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('membersNav').classList.add('active');
    });
</script>


@if (User.IsInRole("Administrators"))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="products-grid"></div>
            <script>
            $(document).ready(function () {
                $("#products-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("MemberList", "Members"))",
                                type: "POST",
                                dataType: "json",
                            }
                        },
                        schema: {
                            type: "json",
                            data: "Data",
                            total: "Total"
                        },
                        pageSize: 15,
                    },
                    width: 850,
                    filterable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    scrollable: true,
                    columns: [
                    {
                        field: "DisplayName",
                        title: "Name",
                        template: '<a href="#=UrlExt#">#=DisplayName#</a>',
                        width: 150
                        },
                    {
                        field: "GalacticPower",
                        title: "Galactic Power",
                        width: 150
                    },
                    {
                        field: "CharacterPower",
                        title: "Character Power",
                        width: 150
                    },
                    {
                        field: "ShipPower",
                        title: "Ship Power",
                        width: 150
                    },
                    {
                        field: "Id",
                        title: "Actions",
                        template: '<a href="Members/Details/#=Id#">Characters/Ships</a> | <a href="Members/Delete/#=Id#">Delete</a>',
                        width: 150,
                        filterable:false
                    }
                    ]
                });
            });
            </script>
        </div>
    </div>
}
else
{
<div class="panel panel-default">
    <div class="panel-body">
        <div id="products-grid"></div>
        <script>
            $(document).ready(function () {
                $("#products-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("MemberList", "Members"))",
                                type: "POST",
                                dataType: "json",
                            }
                        },
                        schema: {
                            type: "json",
                            data: "Data",
                            total: "Total"
                        },
                        pageSize: 15,
                    },
                    width: 850,
                    filterable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    scrollable: true,
                    columns: [
                    {
                        field: "DisplayName",
                        title: "Name",
                        template: '<a href="#=UrlExt#">#=DisplayName#</a>',
                        width: 150
                        },
                    {
                        field: "GalacticPower",
                        title: "Galactic Power",
                        template: "#=CharacterPower + ShipPower#",
                        width: 150
                    },
                    {
                        field: "CharacterPower",
                        title: "Character Power",
                        width: 150
                    },
                    {
                        field: "ShipPower",
                        title: "Ship Power",
                        width: 150
                    },
                    {
                        field: "Id",
                        title: "Actions",
                        template: '<a href="Members/Details/#=Id#">Characters/Ships</a>',
                        width: 150
                    }
                    ]
                });
            });
        </script>
    </div>
</div>
}

<script type="text/javascript">
            $(document).ready(function () {
                document.getElementById('membersNav').classList.add('active');
            });
</script>