@model IEnumerable<SWGOH.Entities.Character>

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="products-grid"></div>
        <script>
            $(document).ready(function () {
                $("#products-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CharacterList", "Characters"))",
                                type: "POST",
                                dataType: "json",
                            }
                        },
                        schema: {
                            type: "json",
                            data: "Data",
                            total: "Total"
                        },
                        pageSize: 15,
                    },
                    filterable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    scrollable: true,
                    columns: [
                    {
                        field: "DisplayName",
                        title: "Display Name",
                        },
                    {
                        field: "Alignment",
                        title: "Alignment",
                    },
                    {
                        field: "Id",
                        title: "Actions",
                        template: '<a href="Characters/edit/#=Id#">Edit</a>'
                    }
                    ]
                });
            });
        </script>
    </div>
</div>